/* ///////////////////////////////////////////////////brands.html////////////////////////////////////////////////////////// */

/*---------------------------mise en place des conteneur de deux div sur une page -------------------------*/
.container_brands {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 3rem;
  justify-content: space-around;
  width: 80%;
  gap: 2rem;
}

/*---------------------------------------taille de chaque div  -------------------------------*/
.container_cards {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 300px;
  gap: 2rem;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(48, 108, 96, 0.9);
}
/*--------------------------------------mise en place des photos -----------------------------*/
.img {
  display: flex;
  width: 100%;
  height: 25vh;
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: fill;
  border: 8px double #c89f36;
}
/*---------------------------------------mise en place du texte--------------------------------*/

.speech {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  gap: 3vh;
  padding: 4vh;
}
