* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formulaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440 px;
}
.connection,
.inscription {
  display: flex;
  width: 100%;
  min-width: 300px;
  max-width: 575px;
  flex-direction: column;
  margin-bottom: 5vh;
  gap: 2vh;
  border-radius: 15px;
  padding: 1em;
  background-color: rgba(48, 108, 96, 0.9);
}

.form_inscription,
.form_connection {
  /* On centre le formulaire */
  margin: 0 4vh 0 4vh;
  padding: 1em;
  border-radius: 15px;
  background-color: #c89f36;
}
.civility_container {
  /*On place les éléments en lignes*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 3vh;
}
.civility_choice {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 1.5 vw;
}
.firstname {
  display: flex;
}
ul {
  list-style: none;
}
.input {
  font-size: 1.5vw sans-serif;
  width: 80%;
  margin-bottom: 3vh;
  height: 50px; /* Taille uniforme pour des champs */
  border: 1px solid #120d03;
  border-radius: 10px;
}
#tel {
  margin-top: 3vh;
}
select {
  margin: 3vh 0;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  max-width: 100px;
}
/* On rajoute une mise en avant pour les éléments avec le focus. */
input:focus,
textarea:focus {
  outline-color: 5px solid yellow;
}

textarea {
  padding-top: 1em;
}
.button {
  text-align: center;
  margin-top: 2vh;
  height: 50px;
  width: 100%;
}
#password {
  text-decoration: none;
  padding-left: 2em;
  color: #120d03;
  opacity: 0.6;
}
.confirmation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  gap: 2vh;
  font-size: 1em;
  justify-content: space-between;
}
.confirmation {
  height: 1em;
  margin-right: 1vh;
}

#tel {
  width: 130px;
}
.submit {
  background-color: #c89f36;
  color: #120d03;
}
